SGGO/Connected Services/DBServiceReference/DBService.Entity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DBService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DBService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account_Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attempts_Left" type="xs:int" />
      <xs:element minOccurs="0" name="Diamonds" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Login" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locked_Since" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password_Age" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password_Last" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password_Last2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password_Salt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postal_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile_Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Staff_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccount" nillable="true" type="tns:ArrayOfAccount" />
  <xs:complexType name="Gem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Gem" nillable="true" type="tns:Gem" />
  <xs:complexType name="ArrayOfGem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Gem" nillable="true" type="tns:Gem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGem" nillable="true" type="tns:ArrayOfGem" />
  <xs:complexType name="Trail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gem1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gem2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gem3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrailId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trail" nillable="true" type="tns:Trail" />
  <xs:complexType name="ArrayOfTrail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trail" nillable="true" type="tns:Trail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrail" nillable="true" type="tns:ArrayOfTrail" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Review_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_reported" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Report_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Reported_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Point_Shop_Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Point_Shop_Item_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="QR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Point_Shop_Item" nillable="true" type="tns:Point_Shop_Item" />
  <xs:complexType name="ArrayOfPoint_Shop_Item">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Point_Shop_Item" nillable="true" type="tns:Point_Shop_Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPoint_Shop_Item" nillable="true" type="tns:ArrayOfPoint_Shop_Item" />
</xs:schema>