SGGO/Connected Services/DBServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAccountByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAccountByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccounts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateGem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGem" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateGem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGemByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGemByTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGemByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGemByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllGems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGems" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllGems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTrail_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTrail" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTrail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTrailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTrailById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrailById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTrailById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTrails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTrails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTrails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTrailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReview_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReview" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReviewByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewByAuthor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReviewByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReview" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAccount" message="tns:IService1_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAccountResponse" message="tns:IService1_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAccountByEmail" message="tns:IService1_GetAccountByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAccountByEmailResponse" message="tns:IService1_GetAccountByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllAccounts" message="tns:IService1_GetAllAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllAccountsResponse" message="tns:IService1_GetAllAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateGem" message="tns:IService1_CreateGem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateGemResponse" message="tns:IService1_CreateGem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGemByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGemByTitle" message="tns:IService1_GetGemByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGemByTitleResponse" message="tns:IService1_GetGemByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllGems" message="tns:IService1_GetAllGems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllGemsResponse" message="tns:IService1_GetAllGems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTrail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateTrail" message="tns:IService1_CreateTrail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateTrailResponse" message="tns:IService1_CreateTrail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrailById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTrailById" message="tns:IService1_GetTrailById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTrailByIdResponse" message="tns:IService1_GetTrailById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTrails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTrails" message="tns:IService1_GetAllTrails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTrailsResponse" message="tns:IService1_GetAllTrails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateReview" message="tns:IService1_CreateReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateReviewResponse" message="tns:IService1_CreateReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetReviewByAuthor" message="tns:IService1_GetReviewByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetReviewByAuthorResponse" message="tns:IService1_GetReviewByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllReview" message="tns:IService1_GetAllReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllReviewResponse" message="tns:IService1_GetAllReview_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAccountByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGem">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateGem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGemByTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGemByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGems">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllGems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTrail">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateTrail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrailById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTrailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTrails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTrails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReview">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewByAuthor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetReviewByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReview">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>