SGGO/Connected Services/DBServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DBService.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccount" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAccountByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAccountByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfile" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccounts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckAttempts_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAttempts" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckAttempts_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAttemptsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckSuspended_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSuspended" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckSuspended_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSuspendedResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStaffId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetStaffId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLastLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLastLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateLastLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLastLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StaffResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:StaffResetPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_StaffResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:StaffResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateGem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGem" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateGem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGemByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGemByTitle" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGemByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGemByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllGems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGems" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllGems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateGemStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGemStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateGemStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGemStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGemById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGemById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGemById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGemByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CountPendingGems_InputMessage">
    <wsdl:part name="parameters" element="tns:CountPendingGems" />
  </wsdl:message>
  <wsdl:message name="IService1_CountPendingGems_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountPendingGemsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteGem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGem" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteGem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTrail_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTrail" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateTrail_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTrailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTrailById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrailById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTrailById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTrails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTrails" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllTrails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTrailsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTrailByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrailByStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTrailByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrailByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTrail_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrail" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTrail_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTrailStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrailStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateTrailStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrailStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTrail_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTrail" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteTrail_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTrailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReview_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReview" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReviewByAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewByAuthor" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReviewByAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewByAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReviewById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReviewById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReview_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReview" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateReviewStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReviewStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateReviewStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReviewStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteReview_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReview" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CountPendingReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:CountPendingReviews" />
  </wsdl:message>
  <wsdl:message name="IService1_CountPendingReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountPendingReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateReport" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateReportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReportByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReportByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReportById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReportById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetReportById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReports" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateReportStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReportStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateReportStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReportStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CountUnresolvedReports_InputMessage">
    <wsdl:part name="parameters" element="tns:CountUnresolvedReports" />
  </wsdl:message>
  <wsdl:message name="IService1_CountUnresolvedReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountUnresolvedReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePointShopItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePointShopItem" />
  </wsdl:message>
  <wsdl:message name="IService1_CreatePointShopItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePointShopItemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAll_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAll" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePointShopItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePointShopItem" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletePointShopItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePointShopItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateAccount" message="tns:IService1_CreateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateAccountResponse" message="tns:IService1_CreateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAccountByEmail" message="tns:IService1_GetAccountByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAccountByEmailResponse" message="tns:IService1_GetAccountByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateUserProfile" message="tns:IService1_UpdateUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateUserProfileResponse" message="tns:IService1_UpdateUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllAccounts" message="tns:IService1_GetAllAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllAccountsResponse" message="tns:IService1_GetAllAccounts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ChangePassword" message="tns:IService1_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ChangePasswordResponse" message="tns:IService1_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAttempts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckAttempts" message="tns:IService1_CheckAttempts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckAttemptsResponse" message="tns:IService1_CheckAttempts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckSuspended">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckSuspended" message="tns:IService1_CheckSuspended_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckSuspendedResponse" message="tns:IService1_CheckSuspended_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetStaffId" message="tns:IService1_GetStaffId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetStaffIdResponse" message="tns:IService1_GetStaffId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLastLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateLastLogin" message="tns:IService1_UpdateLastLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateLastLoginResponse" message="tns:IService1_UpdateLastLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StaffResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StaffResetPassword" message="tns:IService1_StaffResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StaffResetPasswordResponse" message="tns:IService1_StaffResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateGem" message="tns:IService1_CreateGem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateGemResponse" message="tns:IService1_CreateGem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGemByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGemByTitle" message="tns:IService1_GetGemByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGemByTitleResponse" message="tns:IService1_GetGemByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllGems" message="tns:IService1_GetAllGems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllGemsResponse" message="tns:IService1_GetAllGems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGemStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateGemStatus" message="tns:IService1_UpdateGemStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateGemStatusResponse" message="tns:IService1_UpdateGemStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGemById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGemById" message="tns:IService1_GetGemById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGemByIdResponse" message="tns:IService1_GetGemById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountPendingGems">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CountPendingGems" message="tns:IService1_CountPendingGems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CountPendingGemsResponse" message="tns:IService1_CountPendingGems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteGem" message="tns:IService1_DeleteGem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteGemResponse" message="tns:IService1_DeleteGem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTrail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateTrail" message="tns:IService1_CreateTrail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateTrailResponse" message="tns:IService1_CreateTrail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrailById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTrailById" message="tns:IService1_GetTrailById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTrailByIdResponse" message="tns:IService1_GetTrailById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTrails">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllTrails" message="tns:IService1_GetAllTrails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllTrailsResponse" message="tns:IService1_GetAllTrails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrailByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTrailByStatus" message="tns:IService1_GetTrailByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTrailByStatusResponse" message="tns:IService1_GetTrailByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTrail" message="tns:IService1_UpdateTrail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTrailResponse" message="tns:IService1_UpdateTrail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrailStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateTrailStatus" message="tns:IService1_UpdateTrailStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateTrailStatusResponse" message="tns:IService1_UpdateTrailStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTrail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteTrail" message="tns:IService1_DeleteTrail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteTrailResponse" message="tns:IService1_DeleteTrail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateReview" message="tns:IService1_CreateReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateReviewResponse" message="tns:IService1_CreateReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewByAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetReviewByAuthor" message="tns:IService1_GetReviewByAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetReviewByAuthorResponse" message="tns:IService1_GetReviewByAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetReviewById" message="tns:IService1_GetReviewById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetReviewByIdResponse" message="tns:IService1_GetReviewById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllReview" message="tns:IService1_GetAllReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllReviewResponse" message="tns:IService1_GetAllReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReviewStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateReviewStatus" message="tns:IService1_UpdateReviewStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateReviewStatusResponse" message="tns:IService1_UpdateReviewStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteReview" message="tns:IService1_DeleteReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteReviewResponse" message="tns:IService1_DeleteReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountPendingReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CountPendingReviews" message="tns:IService1_CountPendingReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CountPendingReviewsResponse" message="tns:IService1_CountPendingReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateReport" message="tns:IService1_CreateReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateReportResponse" message="tns:IService1_CreateReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetReportByStatus" message="tns:IService1_GetReportByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetReportByStatusResponse" message="tns:IService1_GetReportByStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetReportById" message="tns:IService1_GetReportById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetReportByIdResponse" message="tns:IService1_GetReportById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllReports" message="tns:IService1_GetAllReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllReportsResponse" message="tns:IService1_GetAllReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReportStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateReportStatus" message="tns:IService1_UpdateReportStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateReportStatusResponse" message="tns:IService1_UpdateReportStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountUnresolvedReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CountUnresolvedReports" message="tns:IService1_CountUnresolvedReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CountUnresolvedReportsResponse" message="tns:IService1_CountUnresolvedReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePointShopItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreatePointShopItem" message="tns:IService1_CreatePointShopItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreatePointShopItemResponse" message="tns:IService1_CreatePointShopItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectById" message="tns:IService1_SelectById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectByIdResponse" message="tns:IService1_SelectById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAll" message="tns:IService1_SelectAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAllResponse" message="tns:IService1_SelectAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePointShopItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletePointShopItem" message="tns:IService1_DeletePointShopItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletePointShopItemResponse" message="tns:IService1_DeletePointShopItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAccountByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserProfile">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAttempts">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckAttempts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSuspended">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckSuspended" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetStaffId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLastLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateLastLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StaffResetPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/StaffResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGem">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateGem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGemByTitle">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGemByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGems">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllGems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGemStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateGemStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGemById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountPendingGems">
      <soap:operation soapAction="http://tempuri.org/IService1/CountPendingGems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGem">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteGem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTrail">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateTrail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrailById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTrailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTrails">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllTrails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrailByStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTrailByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTrail">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTrail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTrailStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateTrailStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrail">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteTrail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReview">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewByAuthor">
      <soap:operation soapAction="http://tempuri.org/IService1/GetReviewByAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetReviewById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReview">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReviewStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateReviewStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountPendingReviews">
      <soap:operation soapAction="http://tempuri.org/IService1/CountPendingReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateReport">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportByStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/GetReportByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetReportById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReports">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReportStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateReportStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountUnresolvedReports">
      <soap:operation soapAction="http://tempuri.org/IService1/CountUnresolvedReports" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePointShopItem">
      <soap:operation soapAction="http://tempuri.org/IService1/CreatePointShopItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAll">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePointShopItem">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletePointShopItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DBService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>